<div class="container">
  <!--Section: Magazine v.1-->
  <section class="magazine-section my-5">

    <!-- Section heading -->
    <button class="btn btn-primary" (click)="openModalCreate()">Add Post</button>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12" *ngFor="let pst of loadedPosts | async">

        <!-- Featured news -->
        <div class="single-news mb-4">

          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img class="" src="{{ pst.cover }}" alt="Sample image" height="300" width="100%">
            <a>
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3">
            <a>{{ pst.title }} </a>
          </h3>


        </div>
        <!-- Featured news -->

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </section>
  <!--/Section: Magazine v.1-->
</div>